<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>11972934481-qjn8b5iv1a8luut5fsk6644ra1smshfj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.11972934481-qjn8b5iv1a8luut5fsk6644ra1smshfj</string>
	<key>API_KEY</key>
	<string>AIzaSyBx2dqRy5gXmKU44e_MMzNzyKvf8X5WVmk</string>
	<key>GCM_SENDER_ID</key>
	<string>11972934481</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.zipperstudios.ARCoreTutorial</string>
	<key>PROJECT_ID</key>
	<string>arcoretutorial</string>
	<key>STORAGE_BUCKET</key>
	<string>arcoretutorial.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:11972934481:ios:76952fed381262e6</string>
	<key>DATABASE_URL</key>
	<string>https://arcoretutorial.firebaseio.com</string>
</dict>
</plist>